@import "grid";
@import "utils";
@import "variables";
@import "typography";
@import "blockquote";
@import "table";
@import "rtl";
@import "navbar";
@import "syntax-dark-matter";
@import "social-buttons";

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body.dark {
  background-color: var(--dark-background-color);
  color: var(--dark-foreground-color);

  & a {
    color: var(--dark-secondary-color);
  }

  & .view-post__category {
    color: var(--dark-secondary-color);
  }

  & .navbar li a {
    color: var(--gray);

    &:hover {
      color: var(--off-white);
    }
  }
}

a {
  color: var(--secondary-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.index-post {
  margin-bottom: 20px;
}

.index-post__date {
  font-size: 14px;
}

.index-post__title {
  font-size: 28px;
}

.view-post__category {
  color: var(--secondary-color);
}

.view-post__en-title {
  & h3, & small {
    font-family: var(--latin-font);
  }
}

.view-post__ar-title {
  & h2, & small {
    font-family: var(--arabic-font);
  }
}

.talk__item {
  margin-bottom: 50px;
}
