:lang(en) {
  direction: ltr;
  text-align: left;
}

:lang(ar) {
  direction: rtl;
  text-align: right;
  font-family: var(--arabic-font);
  font-size: 30px;
  font-weight: normal;
  line-height: 40px;

  & code {
    direction: ltr;
    float: left;
  }

  & .highlight {
    text-align: left;
  }

  & cite {
    font-size: 20px;
  }
}
