:root {
  --twitter:       #1DA1F2;
  --googleplus:    #DC4E41;
  --reddit:        #FF4500;
  --linkedin:      #0077B5;
  --pocket:        #EF3F56;
  --github:        #181717;
  --gitlab:        #E24329;
  --stackoverflow: #FE7A16;
  --quora:         #B92B27;
  --rss:           #FFA500;
  --slack:         #56B68B;
  --ruby:          #CC342D;
}

.social {
  display: inline;

  & a {
    margin-right: 15px;

    &:hover {
      text-decoration: none;
    }
  }

  & svg {
    width:  24px;
    height: 24px;
  }

  & #twitter {
    fill: var(--twitter);
  }

  & #reddit {
    fill: var(--reddit);
  }

  & #googleplus {
    fill: var(--googleplus);
  }

  & #linkedin {
    fill: var(--linkedin);
  }

  & #pocket {
    fill: var(--pocket);
  }
}
